{% extends 'base.html' %}
{% load static %}

{% block title %}Создать документ{% endblock %}
{% block content %}
    <div class="container mt-4">
        <button type="button" class="btn btn-primary" id="buttonFillingForm">Заполнить значениями</button>
        <form>
            <div class="category">
                <h3>Дата и место составления</h3>
                <div class="mb-3">
                    <label for="date" class="form-label">Дата составления</label>
                    <input class="form-control inputDate" id="date" type="text">
                    <label for="city" class="form-label">Место составления</label>
                    <input class="form-control" id="city" type="text">
                </div>
            </div>
            <div class="category">
                <h3>Текущий владелец транспортного средства</h3>
                <div class="mb-3">
                    <label for="sellerName" class="form-label">ФИО (как в паспорте)</label>
                    <input class="form-control" id="sellerName" type="text">
                    <label for="sellerDate" class="form-label">Дата рождения</label>
                    <input class="form-control inputDate" id="sellerDate" type="text">
                    <label for="sellerCity" class="form-label">Место рождения</label>
                    <input class="form-control" id="sellerCity" type="text">
                    <label for="sellerPassportNumber" class="form-label">Серия и номер паспорта</label>
                    <input class="form-control" id="sellerPassportNumber" type="text">
                    <label for="sellerPassportDate" class="form-label">Дата выдачи</label>
                    <input class="form-control inputDate" id="sellerPassportDate" type="text">
                    <label for="sellerPassportDepartmentCode" class="form-label">Код подразделения</label>
                    <input class="form-control" id="sellerPassportDepartmentCode" type="text">
                    <label for="sellerPassportCreatedBy" class="form-label">Кем выдан</label>
                    <input class="form-control" id="sellerPassportCreatedBy" type="text">
                    <label for="sellerRegistrationAddress" class="form-label">Адрес регистрации</label>
                    <input class="form-control" id="sellerRegistrationAddress" type="text">
                    <label for="sellerPhone" class="form-label">Номер телефона</label>
                    <input class="form-control" id="sellerPhone" type="tel">
                </div>
            </div>
            <div class="category">
                <h3>Покупатель транспортного средства</h3>
                <div class="mb-3">
                    <label for="buyerName" class="form-label">ФИО (как в паспорте)</label>
                    <input class="form-control" id="buyerName" type="text">
                    <label for="buyerDate" class="form-label">Дата рождения</label>
                    <input class="form-control inputDate" id="buyerDate" type="text">
                    <label for="buyerCity" class="form-label">Место рождения</label>
                    <input class="form-control" id="buyerCity" type="text">
                    <label for="buyerPassportNumber" class="form-label">Серия и номер паспорта</label>
                    <input class="form-control" id="buyerPassportNumber" type="text">
                    <label for="buyerPassportDate" class="form-label">Дата выдачи</label>
                    <input class="form-control inputDate" id="buyerPassportDate" type="text">
                    <label for="buyerPassportDepartmentCode" class="form-label">Код подразделения</label>
                    <input class="form-control" id="buyerPassportDepartmentCode" type="text">
                    <label for="buyerPassportCreatedBy" class="form-label">Кем выдан</label>
                    <input class="form-control" id="buyerPassportCreatedBy" type="text">
                    <label for="buyerRegistrationAddress" class="form-label">Адрес регистрации</label>
                    <input class="form-control" id="buyerRegistrationAddress" type="text">
                    <label for="buyerPhone" class="form-label">Номер телефона</label>
                    <input class="form-control" id="buyerPhone" type="tel">
                </div>
            </div>
            <div class="category">
                <h3>Транспортное средство</h3>
                <div class="mb-3">
                    <label for="carBrand" class="form-label">Марка ТС</label>
                    <input class="form-control" id="carBrand" type="text">
                    <label for="carModel" class="form-label">Модель ТС</label>
                    <input class="form-control" id="carModel" type="text">
                    <label for="carNumber" class="form-label">VIN номер</label>
                    <input class="form-control" id="carNumber" type="text">
                    <label for="carType" class="form-label">Тип ТС</label>
                    <select class="form-select" id="carType">
                        <option value="Легковой">Легковой</option>
                        <option value="Грузовой">Грузовой</option>
                        <option value="Автобус">Автобус</option>
                        <option value="Мотоцикл">Мотоцикл</option>
                    </select>
                    <label for="carReleaseYear" class="form-label">Год выпуска</label>
                    <input class="form-control" id="carReleaseYear" type="number">
                    <label for="carMileage" class="form-label">Пробег, км</label>
                    <input class="form-control" id="carMileage" type="number">
                    <label for="carPower" class="form-label">Мощность двигателя, л.с.</label>
                    <input class="form-control" id="carPower" type="number">
                    <label for="engineVolume" class="form-label">Рабочий объем, куб.см.</label>
                    <input class="form-control" id="engineVolume" type="number">
                    <label for="carColour" class="form-label">Цвет</label>
                    <input class="form-control" id="carColour" type="text">
                    <label for="engineModel" class="form-label">Модель двигателя</label>
                    <input class="form-control" id="engineModel" type="text">
                    <label for="engineNumber" class="form-label">Номер двигателя</label>
                    <input class="form-control" id="engineNumber" type="text">
                    <label for="frameNumber" class="form-label">Номер шасси, рамы</label>
                    <input class="form-control" id="frameNumber" type="text">
                    <label for="bodyNumber" class="form-label">Номер кузова</label>
                    <input class="form-control" id="bodyNumber" type="text">
                </div>
            </div>
            <div class="category">
                <h3>ПТС</h3>
                <div class="mb-3">
                    <label for="documentNumber" class="form-label">ПТС, серия</label>
                    <input class="form-control" id="documentSeries" type="text">
                    <label for="documentNumber" class="form-label">ПТС, номер</label>
                    <input class="form-control" id="documentNumber" type="text">
                    <label for="documentDate" class="form-label">ПТС, дата выдачи</label>
                    <input class="form-control inputDate" id="documentDate" type="text">
                    <label for="documentCreator" class="form-label">ПТС, кем выдан</label>
                    <input class="form-control" id="documentCreator" type="text">
                </div>
            </div>
            <div class="category">
                <h3>СТС</h3>
                <div class="mb-3">
                    <label for="certificateRegistrationSeries" class="form-label">СТС, серия</label>
                    <input class="form-control" id="certificateRegistrationSeries" type="text">
                    <label for="certificateRegistrationNumber" class="form-label">СТС, номер</label>
                    <input class="form-control" id="certificateRegistrationNumber" type="text">
                    <label for="certificateRegistrationDate" class="form-label">СТС, дата выдачи</label>
                    <input class="form-control inputDate" id="certificateRegistrationDate" type="text">
                    <label for="certificateRegistrationCreator" class="form-label">СТС, кем выдан</label>
                    <input class="form-control" id="certificateRegistrationCreator" type="text">
                </div>
            </div>
            <div class="category">
                <div class="mb-3">
                    <label for="carStateNumber" class="form-label">Гос. номер</label>
                    <input class="form-control" id="carStateNumber" type="text">
                    <label for="carCost" class="form-label">Стоимость ТС</label>
                    <input class="form-control" id="carCost" type="number">
                </div>
                <button type="button" class="btn btn-primary" id="buttonCreatingPDF">Создать PDF</button>
            </div>
        </form>
    </div>
{% endblock %}
