{% extends "base.html" %}
{% load static %}
{% block title %}Мои договоры{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2>Мои договоры</h2>
        <a href="{% url 'orders-create' %}" class="btn btn-success mb-3">Создать</a>
            <div class="row">
            {% for template in object_list %}
                <div class="col-md-4">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ template.name }}</h5>
                            <p class="card-text">{{ template.body|truncatechars:50 }}</p>
                            <a href="{% url 'orders-edit' template.id %}" class="btn btn-primary">Редактировать</a>
                            <a href="{% url 'orders-detail' template.id %}" class="btn btn-secondary">Подробнее</a>
                            <a href="{% url 'orders-delete' template.id %}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}