html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    height: 10vh;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

footer{
    height: 10vh;
}

h1, h2 {
    color: #1058ba;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

button {

}