.category {
    border: 1px solid #ced4da; /* Цвет рамки */
    border-radius: 5px; /* Скругление углов */
    padding: 15px; /* Отступы внутри рамки */
    margin-bottom: 20px; /* Отступ между рамками */
    background-color: #f9f9f9; /* Цвет фона */
}