{% extends "base.html" %}
{% load static %}
{% block title %}{{ participant.name }} - карточка участника{% endblock %}
{% block content %}
    <h1>{{ participant.name }}</h1>
    {% if edit_mode %}
    <a href='?edit_mode=false' class="btn btn-primary">Просмотр</a>
    <div class="mb-3">
        {% include 'participants/participants.form.html' %}
    <button type="submit" class="btn btn-primary" form="participant-form">Применить изменения</button>
    </div>


    {% else %}
    <a href='?edit_mode=true' class="btn btn-primary">Редактирование</a>
    <div>{{ participant.name }}</div>
    <div>{{ participant.legal_address }}</div>
    <div>{{ participant.actual_address }}</div>
    <div>{{ participant.inn }}</div>
    <div>{{ participant.kpp }}</div>
    <div>{{ participant.ogrn }}</div>

    {% endif %}
{% endblock %}